opencv-python-headless
streamlit
Pillow
numpy
torch
torchvision
matplotlib
plotly
gdown
#git+https://github.com/facebookresearch/detectron2.git #detectron2
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu102/torch1.9/index.html
detectron2
