black==21.4b2
torch==1.19.0
torchvision
opencv-python-headless
streamlit
Pillow
numpy
matplotlib
plotly
gdown

-f  https://dl.fbaipublicfiles.com/detectron2/wheels/cu113/torch1.10/index.html
detectron2
